.gallery {
    display: flex;
    flex-direction: column;
    padding: 10px 100px;
    align-items: center;
    background-color:rgb(25, 25, 30);
  }
  .gallery .images {
    gap: 15px;
    max-width: 50%;
    margin-top: 40px;
    columns: 250px;
  
  }
  .gallery .images .card {
    display: flex;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    margin-bottom: 14px;
    border-radius: 4px;
  }
  .gallery .images img {
    width: 100px;
    z-index: 2;
    position: relative;
  }
  .Art-container {
  
    background: rgb(25, 25, 30);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
  }

  .Art-container>h2 {
    margin-top:180px;
    margin-bottom: 12px;
    color: #E6DFD2;
    font-size: 42px;
    font-family: Georgia ;
  }
  .button-container {
    justify-content: center;
    align-items: center;
    background: rgb(25, 25, 30);
    align-items: center;
    display: flex;
  
 
  }
  .button {
    border-color: #E6DFD2;
    border-radius: 5px;

    background-color:rgb(25, 25, 30);
    color:rgb(25, 25, 30);
 
    text-align: center;
    font-size: 24px;
   

  }
  
  .button-links {

    color:#E6DFD2; 
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.3rem .3rem;
    height: 100%;
    font-family: Georgia ;
  }
  
  .button-links:hover {
    color: #8F8A81;
    transition: all 0.2s easeS-out;
  }
 
  
  @media only screen and (min-width: 500px) and (max-width: 992px) {

 
  
    .button {
      width: 50%;
    }
  

   }