.cards {
  padding: 0rem;
  background: rgb(25, 25, 25);
}

h1 {
  text-align: center;
  color: #E6DFD2;
  font-family: Georgia ;
}

h2 {
  margin: 25px auto;
  text-align: center;
  color: #E6DFD2;
  font-family: Georgia ;
}

p {
  text-align: center;
  color: #E6DFD2;
  font-family: Georgia ;
}

h4 {
  color: #E6DFD2;
  font-family: Georgia ;
}

h5 {
  color: #E6DFD2;
  font-family: Georgia ;
}

.cards__container {
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
 
}

.cards__wrapper {
 
  margin: 10px 0 20px;
}

.cards__items {
  margin-bottom: 24px;
}

.cards__item {
  display: flex;
  flex: 1;
  margin: .5rem .5rem;
  border-radius: 5px;
  
}

.cards__item__link {
  display: flex;
  flex-flow: column;
  width: 100%;
  background: transparent;
  border-radius: 5px;
  overflow: hidden;
  text-decoration: none;


}

.cards__item__pic-wrap {
  position: relative;
  width: 100%;
  padding-top: 30%;
  overflow: hidden;
  
}

.fade-img {
  animation-name: fade-img;
  animation-duration: 0s;
}

.cards__item__pic-wrap::after {
  content: attr(data-category);
  position: absolute;
  bottom: 0;
  margin-left: 10px;
  padding: 6px 8px;

  font-size: 12px;
  font-weight: 700;
  color: #fff;

  box-sizing: border-box;
}

.cards__item__img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  min-height: 50%;
  object-fit: scale-down;
}



.cards__item__info {
  padding: 20px 30px 30px;
}

.cards__item__text {
  color: #E6DFD2;
  font-size: 16px;
  line-height: 24px;
}

.cards__item__title{
  color: #E6DFD2;
  font-size: 22px;
  line-height: 24px;
}

@media only screen and (min-width: 1200px) {
  .content__blog__container {
    width: 100%;
  }
}

@media only screen and (min-width: 1024px) {
  .cards__items {
    display: flex;
  }
}

@media only screen and (max-width: 1024px) {
  .cards__item {
    margin-bottom: 1rem;
  }
}
