.Intro-container {
  
    background: rgb(25, 25, 30);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
  }
  .Intro-container>h1 {
  
    margin-bottom: 24px;
    color: #E6DFD2;
    font-size: 64px;
    font-family: Georgia ;
  }

  .Intro-container>p {
  
    margin-bottom: 12px;
    color: #E6DFD2;
    font-size: 24px;
    font-family: Georgia ;
  }
  .Intro-container>h2 {
    margin-top:180px;
    margin-bottom: 12px;
    color: #E6DFD2;
    font-size: 42px;
    font-family: Georgia ;
  }
  
  
  
  